page-event {
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
    }
    .defaultImage {
      position: relative;
    }
    .card-image {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
    }
    .buttons {
      width: 100%;
      position: relative;
      text-align: center;
    }
    .card {
      color: #110302;
      margin: 0;
      width: 100%;
    }
    .calendarIcon {
      color: #ffffff;
    }
    .calendarButton {
      color: #123456;
    }

    .busTitle {
      font-size: 0.8em;
      text-align: center;
    }
    .colR {
      text-align: right;
      font-size: 1em;
      color: #999999;
    }
    .colL {
      text-align: left;
      font-size: 1em;
      color: #999999;
    }
    .Navettes {
      font-size: 3.5em;
      text-align: center;
    }
    .evenements {
      font-size: 3.5em;
      text-align: center;
      margin-top: 20px;
    }
    .card-title {
      font-size: 9.5vmin;
      position: absolute;
      text-align: center;
      top: 20%;
      width: 100%;
      font-weight: bold;
      color: #ffffff;
    }

    .card-subtitle {
      font-size: 7vmin;
      position: absolute;
      text-align: center;
      top: 55%;
      width: 100%;
      color: #ffffff;
    }
    .card-start {
      font-size: 8vmin;
      position: absolute;
      text-align: center;
      top: 75%;
      width: 100%;
      color: #ffffff;
    }
    .info-circle {
      font-size: 8.5vmin;
      position: absolute;
      top: 80%;
      width: 85%;
      color: #ffffff;
    }
    .info-circle2 {
      font-size: 8.5vmin;
      position: absolute;
      top: 80%;
      width: 85%;
      color: #000000;
    }
    .smaller {
      font-size: 15px;
      color: #ffffff;
    }
    ion-list:not(:last-child) {
      border-bottom: 1px solid #e8e8e8;
    }
    .refresh {
      color: #555555;
    }
    .navettetext {
      color: #ffffff;
      padding: 10px 10px 10px 10px;
    }
    .event-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .events-buttons {
      margin-top: 20px;
      max-width: 300px;
    }
  }
  @media screen and (min-width: 300px) {
    .card-title {
      font-size: 35px !important;
    }
    .card-start {
      font-size: 22px !important;
    }
    .card-subtitle {
      font-size: 20px !important;
    }
    .info-circle {
      font-size: 25px !important;
    }
    .info-circle2 {
      font-size: 25px !important;
    }
  }
}
