<ion-header>
  <ion-navbar>
    <ion-title no-padding>
    	<ion-icon name="star"></ion-icon>
      	Evenements {{count}}
    </ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="events" (ionChange)="ionSelect()" color="primary" no-padding>
      <ion-segment-button value="music">
        <ion-icon name="musical-notes"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="food">
        <ion-icon name="pizza"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bus">
        <ion-icon name="bus"></ion-icon>
      </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content class="card-background-page">
	<div *ngIf="musicVisible">
	    <button *ngFor="let event of fevents" class="button" (click)="goToDetails(event);" no-padding>
		  <ion-card>
		    <img src={{event.Img}}/>
		    <div class="card-title">{{event.Title}}</div>
		    <div class="card-subtitle">{{event.Start}} - {{event.Room}}</div>
		  </ion-card>
		</button>
	</div>

	<div *ngIf="foodVisible">
		<ion-list no-border>
	  	  <ion-item>
	            21h - Ouverture des Foods Truck
	      </ion-item>
	      <ion-item>
	            2h - Fermeture des étages
	      </ion-item>
	      <ion-item>
	      		3h - Arrêt de la vente d'alcool
	      <ion-icon name="beer" item-end></ion-icon>
	      </ion-item>
	      <ion-item>
	            4h30 - Fermeture des Foods Trucs
	      </ion-item>
		</ion-list>
	</div>

	<div *ngIf="busVisible">
		<ion-list>
			<ion-list-header color="header">
        		Navettes centre ville - UTT
      		</ion-list-header>
      		<ion-item *ngFor="let schedule of schedulesCU">
    			<ion-label item-start>{{schedule.time}}</ion-label>
			    <ion-label item-center class="smaller"> dans {{schedule.remaining}} mn</ion-label>
			    <button item-end ion-button (click)="bellClicked(schedule);" color="arrow">
				    <ion-icon *ngIf="!schedule.notification" name="notifications-off" color="arrow" item-end></ion-icon>
				    <ion-icon *ngIf="schedule.notification" name="notifications" color="arrow" item-end></ion-icon>
			    </button>
  			</ion-item>
      		<ion-list-header color="header">
        		Navettes UTT - centre ville
      		</ion-list-header>
      		<ion-item>
			    01h00
      		</ion-item>
      		<ion-item>
        		01h30
      		</ion-item>
      		<ion-item>
        		02h00
      		</ion-item>
      		<ion-item>
        		02h30
      		</ion-item>
      		<ion-item>
        		03h00
      		</ion-item>
      		<ion-item>
        		03h30
      		</ion-item>
      		<ion-item>
        		04h00
      		</ion-item>
      		<ion-item>
        		04h30
      		</ion-item>
      		<ion-item>
        		05h00
      		</ion-item>
      		<ion-item>
        		05h30
      		</ion-item>
		</ion-list>
	</div>


</ion-content>
