page-event-details {
  .scroll-content{
    display: flex;
    justify-content: center;
  }
  .details-content {
    width: 100%;
    max-width: 300px;
  }
  .card {
    color: #110302;
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
  ion-card {
    position: relative;
    text-align: center;
  }
  .defaultImage {
    position: relative;
  }
  .card-image {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
  }
  .card-title {
    font-size: 9.5vmin;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
  }

  .card-subtitle {
    font-size: 7vmin;
    position: absolute;
    text-align: center;
    top: 55%;
    width: 100%;
    color: #ffffff;
  }
  .card-start {
    font-size: 8vmin;
    position: absolute;
    text-align: center;
    top: 75%;
    width: 100%;
    color: #ffffff;
  }
  .info-circle {
    font-size: 8.5vmin;
    position: absolute;
    top: 80%;
    width: 85%;
    color: #ffffff;
  }
  .info-circle2 {
    font-size: 8.5vmin;
    position: absolute;
    top: 80%;
    width: 85%;
    color: #000000;
  }

  .details-infos, .text {
    color: white;
  }

  @media screen and (min-width: 300px) {
    .card-title {
      font-size: 28px !important;
    }
    .card-start {
      font-size: 22px !important;
    }
    .card-subtitle {
      font-size: 20px !important;
    }
    .info-circle {
      font-size: 25px !important;
    }
    .info-circle2 {
      font-size: 25px !important;
    }
  }
  
}
