page-event{
	.card-background-page {

  	ion-card {
      position: relative;
      text-align: center;
    }
    .buttons{
    	width: 100%;
      position: relative;
      text-align: center;    
    }
    .calendarIcon{
      text-color: #ffffff;
      color: #ffffff;
    }

    .busTitle{
      font-size: 1.0em;
      text-align: center;
    }
    .colR{
      text-align: right;
      font-size: 0.8em;
      color: #999999;
    }
    .colL{
      text-align: left;
      font-size: 0.8em;
      color: #999999;
    }
    .Navettes{
      font-size: 3.5em;
      text-align: center;
    }
    .card-title {
      font-size: 10.5vmin;
      position: absolute;
      text-align: center;
      top: 20%;
      width: 100%;
      font-weight: bold;
      color: #ffffff;
    }

    .card-subtitle {
      font-size: 7.0vmin;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;
      color: #ffffff;
    }
    .card-start {
      font-size: 8.0vmin;
      position: absolute;
      text-align: center;
      top: 75%;
      width: 100%;
      color: #ffffff;
    }
    .info-circle {
      font-size: 8.5vmin;
      position: absolute;
      top: 80%;
      width: 85%;
      color: #ffffff;
    }
    .info-circle2 {
      font-size: 8.5vmin;
      position: absolute;
      top: 80%;
      width: 85%;
      color: #000000;
    }
    .smaller{
      font-size: 15px;
      color: #FFFFFF;
    }
    ion-list:not(:last-child){
      border-bottom: 1px solid #E8E8E8;
    }
    .refresh{
      color: #555555;
    }
  }
}