page-home {
	.viewpost {
		ion-grid {
			height: 100%;
		}
		.picture_preview {
			height: 60%;
		}
		.button_col {
			height: 40%;
		}
		ion-col {
			height: 100%;
		}
		.center {
    		margin-left: auto;
    		margin-right: auto;
    		display: block;
		}

		ion-img {
			object-fit: resize;
			width: auto !important;
			border: 0;
			padding: 0;
			background-color: grey;
		}
	}
}