<ion-header (swipe)="swipeEvent($event)">
  <ion-navbar color="navbar">
    <ion-title>
      <div *ngIf="infosVisible">
        <ion-icon name="information-circle"></ion-icon>
        Informations
      </div>
      <div *ngIf="busVisible">
        <ion-icon name="bus"></ion-icon>
        Navettes
      </div>
      <div *ngIf="partenaireVisible">
        <ion-icon name="briefcase"></ion-icon>
        Partenaires
      </div>
      <div *ngIf="artistVisible">
        <ion-icon name="musical-notes"></ion-icon>
        Artistes
      </div>
      <div *ngIf="spotifyVisible">
        <ion-icon name="play"></ion-icon>
        Playlist Spotify
      </div>
    </ion-title>
  </ion-navbar>
  <ion-toolbar color="navbar">
    <ion-segment
      [(ngModel)]="selection"
      (ionChange)="ionSelect()"
      color="primary"
      no-padding
    >
      <ion-segment-button value="info">
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="artists">
        <ion-icon name="musical-notes"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="spotify">
        <ion-icon name="play"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bus">
        <ion-icon name="bus"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="partenaires">
        <ion-icon name="briefcase"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding (swipe)="swipeEvent($event)">
  <ion-refresher (ionRefresh)="doRefresh($event)" class="refresh">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="infosVisible">
    <ion-list text-wrap>
      <ion-list-header color="header">
        Accès
      </ion-list-header>
      <ion-item>
        <ion-icon name="man" item-start></ion-icon>
        Interdit aux moins de 18 ans
      </ion-item>
      <ion-item>
        <ion-icon name="bowtie" item-start></ion-icon>
        Tenue de soirée obligatoire
      </ion-item>
      <ion-item>
        <ion-icon name="beer" item-start></ion-icon>
        État convenable exigé
      </ion-item>
      <ion-list-header color="header">
        Adresse
      </ion-list-header>

      <button (click)="click()" ion-item>
        <ion-icon name="pin" item-start></ion-icon>
        12 rue Marie Curie, Troyes
        <ion-icon *ngIf="!isIOS" name="arrow-dropright" item-end></ion-icon>
      </button>

      <ion-list-header color="header">
        Date
      </ion-list-header>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        18 Mai 2019 - 20h
      </ion-item>
      <ion-list-header color="header">
        Entrée du Gala
      </ion-list-header>
      <ion-item>
        Ouverture a 20h
      </ion-item>
      <ion-item>
        Fermeture de l'entrée a 1h00
      </ion-item>
      <ion-item>
        Baisse du niveau sonore a 4h30
      </ion-item>
      <ion-list-header color="header">
        Privacy Policy / Politique de confidentialité
      </ion-list-header>
      <ion-item (click)="goTo('https://gala.utt.fr/confidentialite')">
        <ion-icon name="lock" item-start></ion-icon>
        See the privacy policy
      </ion-item>
      <ion-item (click)="goTo('https://gala.utt.fr/confidentialite')">
        <ion-icon name="lock" item-start></ion-icon>
        Voir la politique de confidentialité
      </ion-item>
      <ion-list-header color="header">
        Nous contacter
      </ion-list-header>
      <ion-item (click)="mailTo('gala@utt.fr')">
        <ion-icon name="mail" item-start></ion-icon>
        gala@utt.fr
      </ion-item>
      <ion-item (click)="mailTo('ung@utt.fr')">
        <ion-icon name="settings" item-start></ion-icon>
        Problèmes techniques : ung@utt.fr
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="artistVisible" class="artist-container">
    <ion-buttons *ngIf="!isEmpty(artists)" class="artists-buttons">
      <button
        *ngFor="let artist of artists"
        class="buttons"
        (click)="goToArtist(artist)"
        no-padding
      >
        <ion-card class="card">
          <img class="defaultImage" src="../../assets/imgs/default.png" />
          <img class="card-image" src="{{ artist.image }}" />
          <div class="card-title">{{ artist.name }}</div>
          <ion-icon
            class="info-circle2"
            name="ios-information-circle-outline"
            [isActive]="false"
          ></ion-icon>
          <ion-icon
            class="info-circle"
            name="information-circle"
            [isActive]="true"
          ></ion-icon>
        </ion-card>
      </button>
    </ion-buttons>
  </div>
  <div *ngIf="spotifyVisible" class="spotify-container">
    <div>
      <div><ion-spinner color="primary"></ion-spinner></div>
      <iframe
        src="https://open.spotify.com/embed/user/3b9pihxhxz769uzyd30qsown1/playlist/5Hi0XcOVx1nYwmrmJyoiSK"
        width="{{ spotifyWidth }}"
        height="{{ spotifyHeight }}"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media"
      ></iframe>
    </div>
  </div>
  <div *ngIf="busVisible">
    <ion-grid>
      <ion-row>
        <ion-col> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="navettetext"
            >Avant 21h30, le service de transport régulier peut être utilisé,
            moyennant le prix d’un ticket par personne.</ion-card
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="navettetext"
            >À partir de 21h30, une navette gratuite est mise en place entre le
            rond-point de Beurnonville (proche du Centre des Finances Publiques
            et du CNAM) et le parking de l’UTT.</ion-card
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label class="busTitle">Beurnonville - UTT</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colL">21h30</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colL">22h00</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colL">22h15</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colL">22h30</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colL">22h45</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colL">23h00</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colL">23h15</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colL">23h30</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colL">23h45</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colL">00h00</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colL">00h15</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colL">00h30</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label class="busTitle">UTT - Beurnonville</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">01h00</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">01h30</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">02h00</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">02h30</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">03h00</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">03h30</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">04h00</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">04h15</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">04h30</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">04h45</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">05h00</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">05h15</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="colR">05h30</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="partenaireVisible" class="partners">
    <ion-buttons *ngIf="!isEmpty(partners)">
      <button
        *ngFor="let partner of partners"
        class="buttons"
        (click)="goToPartner(partner)"
        no-padding
      >
        <img src="{{ partner.image }}" alt="../../assets/imgs/default.png" />
      </button>
    </ion-buttons>
  </div>
</ion-content>
