page-info {
	
	.big{
		font-size: 16px;
		color: #fff;
		background-color: #242424;
	}
	.small{
		font-size: 16px
	}
	.buttons{
		display: block;
    	margin: 0 auto;
    	max-width: 300px;
    	width: 100%;
	}
  ion-list-header:not(:first-child){
    margin-top: 10px;
  }
  ion-list-header > .item-inner {
    margin-left: 10px;
  }

}
