<ion-header  (swipe)="swipeEvent($event)">
  <ion-navbar color="navbar">
      <ion-title>
        <ion-icon name="barcode"></ion-icon>
        {{ticket.firstname}} {{ticket.name}}
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding  (swipe)="swipeEvent($event)">
  <ion-card>
    <ngx-qrcode [qrc-value]="ticket.code"></ngx-qrcode>
  </ion-card>

  <ion-list>
    <ion-item *ngIf="hasFastPass()">Fast Pass</ion-item>
    <ion-item *ngIf="hasCashLess()">Cash Less</ion-item>
  </ion-list>
  <button ion-button color="primary" (click) = "download();" round full class="place">Télécharger ma place</button>
</ion-content>

